body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg'); 
    background-size: cover;
    background-position: center;
    color: #fff;
}
header {
    display: flex;
    background-color: rgb(57, 8, 136);
    
}

h5 {
    margin: 20px;
    color: aliceblue;
}
h2{
    padding-left: 60%;
    color: aliceblue;

}

img {
    height: 50px; /* Adjust the height as needed */
    width: auto; /* Automatically adjust width to maintain aspect ratio */
    margin-top: 10px; 
    margin-left: 10px; 
}

.popular-services {
padding: 20px 500px; 
}

.service-buttons {
display: flex;
justify-content: center;
}

.service-button {
padding: 10px 20px;
font-size: 1rem;
border: 2px solid #ff5e00;
color: #ff5e00;
background-color: transparent;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease, color 0.3s ease;
margin: 0 10px;
}

.service-button:hover {
background-color: #ff5e00;
color: #fff;
}
